<div class="pamm_support" effect-script>

    <header-block></header-block>

    <div class="content">
        <div class="content-container background"></div>
        <div class="content-container about">
            <div>
                <h2>MAM/PAMM Support</h2>
                <p>MAM/PAMM (Multiple Account Management/Percent Allocation Management Module) gives your clients the
                    choice to become an investor and profit without trading on their own, and allows more experienced
                    traders to profit by managing the funds of others. Extend the functionality of your website and
                    Trader’s Room to include support for the MAM/PAMM business model.</p>
                <p>The MAM/PAMM Support module allows you to expand your Trader’s Room functionality to cover all
                    aspects of sign-up, engagement, and management of managers and investors.</p>

                <h5>BROKERS WILL HAVE THE FOLLOWING ABILITIES:</h5>
                <ul>
                    <li>approve new MAM applications and open accounts via the Trader’s Room interface</li>
                    <li>approve investor accounts</li>
                    <li>manage engagement/disengagement/re-engagement of investor and manager accounts</li>
                </ul>
                <p>In conjunction with the MAM/PAMM Support module, a special website module provides a list of MAM
                    accounts for potential investors to review. MAM accounts can be sorted and reviewed according to
                    rating details such as account age, invested capital, drawdown, and daily, monthly, and total
                    profitability. In addition, the plug-in provides graphical representation of historical
                    profitability, history of placed trades, MAM terms, and ability to invest with a chosen account.</p>

            </div>
        </div>
    </div>

    <top-button></top-button>

    <footer-block></footer-block>


</div>