<header class="header-site">
    <div class="header-site-content">
        <div class="header-site-content-logo">
            <a class="main-title ">
                <div ui-sref="home"></div>
            </a>
        </div>
        <div class="header-site-content-media-menu">
            <button class="header-site-content-media-menu-button active_menu_open"
                    ng-click="vm.showMenu()" id="menu_open"><i class="fas fa-bars"></i></button>
            <div></div>

        </div>
        <div class="header-site-content-menu">
            <ul>
                <li><a ui-sref="about_us" class="main-link">About Us</a></li>
                <li><a ui-sref="contacts" class="main-link">Contact</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="menu">
    <div class="menu_open" ng-class="vm.isMenuShow?'active_menu_open':''">
        <button ng-click="vm.showMenu()" class="menu-close"><i class="fas fa-times"></i></button>
        <ul>
            <li><a ui-sref="about_us" class="main-link">About
                Us</a></li>
            <li><a ui-sref="contacts" class="main-link">Contact</a>
            </li>
        </ul>
    </div>
</div>