<div class="multi_ibs" effect-script>

    <header-block></header-block>

    <div class="content">
        <div class="content-container background"></div>
        <div class="content-container about">
            <div>
                <h2>Multi-Level IB Logic for MT4</h2>
                <p>Increase the growth and potential of your brokerage by using Trader’s Room multi-tier functionality
                    to expand your IB business (IBs within IBs). Hiring IBs is the fastest and most reliable way to grow
                    your business and network. By offering multi-tier IB structure your brokerage will stand out and
                    your IBs will be more motivated.</p>
                <h5>HERE’S HOW IT WORKS:</h5>
                <p>In addition to traders, your IBs can sign other IBs up. The new IBs can in turn sign other IBs and
                    traders up. We call this logic multi-tier IB structure. The commissions add up automatically without
                    your involvement based on the settings you set (you only have to do it once) in your admin
                    interface.</p>
                <h5>THE BENEFITS INCLUDE:</h5>
                <ul>
                    <li>Ability to offer sub or tiered IB structures</li>
                    <li>Rebates distributed in pips or money values to multiple sub IBs</li>
                    <li>Lower trader expenses (the rebates are generated and posted at your expense; the trader is never
                        billed for those)
                    </li>
                    <li>And best of all, this can be done on a shared whitelabel MT4 (No MT4 server plug-in or
                        development needed)
                    </li>
                </ul>
                <p>This logic goes hand-in-hand with the social media viral effect. Facebook and LinkedIn signups
                    significantly boost the multi-tier IB effect.</p>


            </div>
        </div>
    </div>

    <top-button></top-button>

    <footer-block></footer-block>


</div>