<div class="merchant_accounts" effect-script>

    <header-block></header-block>

    <div class="content">
        <div class="content-container background"></div>
        <div class="content-container about">
            <div>
                <h2>Merchant Services</h2>
                <p>Kenmore Design works with a number of the world’s most respected organizations in the merchant
                    services industry. We know what it takes to get a merchant account for a forex brokerage. We provide
                    the highest approval rating and some of the lowest rates in the industry.</p>
                <p>Our solutions include accepting all major credit cards, multiple currency processing, automated
                    current-rate conversions, and integration with many popular merchant providers.</p>
                <p>By utilizing merchant service you can enable your traders to make instant deposits into MT4 for
                    immediate trading. With our Trader’s Room you can choose to pass the merchant fee on to the trader
                    as a convenience fee or have it charged to you as an expense.</p>
            </div>
        </div>
    </div>

    <top-button></top-button>

    <footer-block></footer-block>


</div>