
//templates
@import "templates/homepage/homepage";
@import "templates/trader_room/trader_room";
@import "templates/crm_system/crm_system";
@import "templates/multi_ibs/multi_ibs";
@import "templates/pamm_support/pamm_support";
@import "templates/mobile_solutions/mobile_solutions";
@import "templates/merchant_accounts/merchant_accounts";
@import "templates/mt4_mac/mt4_mac";
@import "templates/forex_web/forex_web";
@import "templates/bitcoin/bitcoin";
@import "templates/live_webinars/live_webinars";
@import "templates/other_solutions/other_solutions";
@import "templates/about_us/about_us";
@import "templates/contacts/contacts";


//directives
@import "directives/header_block/header_block";
@import "directives/header_block/mobile_menu";
@import "directives/footer_block/footer_block";
@import "directives/top_button/top_button";


//componets
body{
  background: white;
}
::-webkit-scrollbar {
  width: 0px;
}

.main-title {
  color: #fff;
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: 'Relative Bold', Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.main-link {

  text: {
    decoration: none;
    overflow: ellipsis;
  }
  font: {
    weight: 400;
    family: 'Relative Medium', Arial, sans-serif;
    size: 25px;
  }
  border-bottom: 0px solid #ffffff;
  color: #303030;
  margin-left: -20px;
  white-space: nowrap;
  cursor: pointer;
}
