<div class="trader_room" effect-script>

    <header-block></header-block>

    <div class="content">
        <div class="content-container background"></div>
        <div class="content-container about">
            <div>
                <h2>Trader’s Room</h2>
                <p>The Trader’s Room is a web-based portal built for you but designed specifically with your traders in
                    mind. Under the secure login you and your clients will have access to thousands of features, from
                    registering new accounts to electronic deposits to managing system languages and live chat. The
                    system offers so many functions that the best way to describe it is to experience it.</p>

            </div>
        </div>
    </div>

    <top-button></top-button>

    <footer-block></footer-block>


</div>