<div class="live_webinars" effect-script>

    <header-block></header-block>

    <div class="content">
        <div class="content-container background"></div>
        <div class="content-container about">
            <div>
                <h2>Educational Webinars</h2>
                <p>Webinars are online classrooms. A Presenter can share his computer screen, voice, and documents with
                    one or more Attendees.</p>
                <p>Many brokerages rely on their IBs to introduce and educate traders. We met some of these IBs and
                    listened to their story.</p>
                <p>In many cases the Introducing agents are on a 24 hour / day duty of making and answering calls, often
                    across multiple time zones or even countries.</p>
                <p>Webinars aim to provide tools to both Brokers & IBs to communicate with clients directly, and even in
                    a classroom setting, without paying long distance fees and not being limited by just voice.</p>
                <p>Both brokers and IBs can create webinars.</p>
                <p>Webinars created by a Broker can be attended by all traders, IBs, Money Managers, Investors or any
                    other system users.</p>
                <p>Webinars created by an IB can only be attended by the Traders introduced by that IB.</p>
            </div>
        </div>
    </div>

    <top-button></top-button>

    <footer-block></footer-block>


</div>