<div class="other_solutions" effect-script>

    <header-block></header-block>

    <div class="content">
        <div class="content-container background"></div>
        <div class="content-container about">
            <div>

                <button class="accordion">Live Quotes Website Ticker</button>
                <div class="panel">
                    <p>Kenmore Design offers live quote tickers of all sizes and types. The tickers connect directly to
                        your trading server for feed and display prices according to your spread settings </p>
                    <p>The tickers are lightweight, they have virtually 0-second loading time, and they can be displayed
                        on most browser-enabled devices, from PCs to smartphones.</p>
                    <p>Currency tickers do not require Flash, Silverlight, or any other third party plug-ins, and they
                        work right out of the gate.</p>
                </div>

                <button class="accordion">Live Chat System</button>
                <div class="panel">
                    <p> Good customer service starts with contact. The easier you make that contact, the happier your
                        clients will be. Kenmore Design’s easy to use live chat system enables customers to reach you
                        easily and instantly during the hours of your choosing, via your website or Trader’s Room
                        portal.</p>
                    <p>The system provides the ability for you to create and manage live chat operators, chat
                        departments, and languages. For better service, live chat operators will have the ability to
                        view clients’ geographical location.</p>
                    <p>The live chat system will be deeply integrated into your Trader’s Room or website, giving your
                        traders the confidence that there is always someone to talk to.</p>
                    <p>Live chat is included at no additional cost with your Trader’s Room, and is also available as a
                        standalone service.</p>
                    <p>The Kenmore Design live chat system offers the following functionality:</p>
                    <p>For your traders: Initiate chats and select departments.</p>
                    <p>For your operators: Chat and transfer chats between agents, manage canned responses, and get
                        desktop notifications.</p>
                    <p>For Trader’s Room administrators: Manage operators, departments, chat languages, and
                        workflows</p>
                    <p>In addition, our live chat system has over 100 other features.</p>
                </div>

                <button class="accordion">Multiple Language Support</button>
                <div class="panel">
                    <p>All Kenmore Design products can be offered in multiple languages, from your website to the
                        Trader’s Room and CRM.</p>
                    <p>Using our multiple language plug-ins allows you populate your website in an unlimited number of
                        languages. Special geo-location logic can be deployed to detect each visitor’s region and serve
                        the website in the local language.</p>
                    <p>No need to rush: we know it takes a long time to perfect the website copy, and it can be
                        especially time-consuming in a foreign language. Once deployed, the plug-in can enable and
                        disable certain languages; this way, you can launch the language when you think the copy is
                        ready.</p>
                    <p>Trader’s Room allows language switching similar to that of the website. Once language preference
                        is set by the user (or auto-detected by the geo-location logic), the user’s confirmation emails
                        are optimized for that language as well.</p>
                </div>

                <button class="accordion">Logo Design and MT4 Whitelabel Icons</button>
                <div class="panel">
                    <p>Kenmore Design helps forex brokerages construct their corporate identity by designing company
                        logos, MT4 whitelabel materials, and marketing materials.</p>
                    <p>Logos for forex brokerages should have a special look and feel: they should be neither too
                        casual, nor too corporate, and they should identify your industry while distinguishing you from
                        the competition. The perfect logo is the one that has meaning, adheres to the company color
                        scheme, and can fit perfectly on both your website and the trading platform.</p>
                    <p>Kenmore Design has been designing logos for the financial industry and many others for over five
                        years.</p>
                    <p>Once your logo is done we will prepare the whitelabel icons for Metaquotes or other trading
                        platforms.</p>
                </div>

                <button class="accordion">Support Ticket System</button>
                <div class="panel">
                    <p>Support-related issues account for a lot of forex brokerage traffic. Kenmore Design offers a
                        support ticket system to help reduce this traffic. Time spent forwarding emails is reduced, as
                        issues will be directed to the appropriate agent at once via the tickets, which are created by
                        your clients and assigned to the agents inside your office based on topic, department, or
                        expertise</p>
                    <p>The support ticket system is extremely easy to use. Agents can respond to issues right within the
                        system, reassign tickets, make internal notes, manage attachments, and more</p>
                    <p>The system is equipped with notification reminders, so no ticket will ever get lost. Multiple
                        reminders are sent to ensure that each issue is attended to on time.</p>
                </div>

                <button class="accordion">Trader’s Room JSON API</button>
                <div class="panel">
                    <p>Trader’s room offers a comprehensive JSON API access and interaction with nearly all of it’s data
                        as well as the Brokerage’s Trading Platform.</p>
                    <p>The modern JSON RESTful web service can be used cross-platform by nearly all of the modern
                        programming languages.</p>
                    <p>This service is intended for software developers or marketing teams within a Brokerage. Here is a
                        short list of potential API implementations:</p>
                    <ul>
                        <li>Building custom landing pages for account registrations.</li>
                        <li>Integration with email marketing service providers.</li>
                        <li>Integration with a third party CRM solutions.</li>
                        <li>Creation of mobile apps for Traders.</li>
                        <li>Creating trading competitions.</li>
                        <li>Creating internal risk management analytics.</li>
                    </ul>
                    <p>If you are not a developer you should review our Solutions Overview first.</p>
                </div>
            </div>
        </div>
    </div>

    <top-button></top-button>

    <footer-block></footer-block>


</div>