<div class="bitcoin" effect-script>

    <header-block></header-block>

    <div class="content">
        <div class="content-container background"></div>
        <div class="content-container about">
            <div>
                <h2>Deposits & Withdrawals with BitCoin</h2>
                <p>IUse of BitCoin is becoming wider and wider as Merchant fees rise and Banking is becoming more
                    challenging.</p>
                <p>BitCoin is one of the most recognized digital currencies and our integration of it in Trader’s Room
                    can be used for both deposits and withdrawals.</p>
                <p>BitCoin integration can be enabled or disabled by the Broker for the entire system as well as
                    separately for each client, deposits only, or withdrawals only.</p>
                <p>Use of BitCoin comes with a number of clear advantages, among which the most important are:</p>

                <ul>
                    <li>Instant Deposit or Withdrawal</li>
                    <li>Low (almost nonexistent) fees</li>
                    <li>No amount limits</li>
                    <li>Minimal banking fees</li>
                    <li>No Merchant applications, limits or regulations</li>
                </ul>
            </div>
        </div>
    </div>

    <top-button></top-button>

    <footer-block></footer-block>


</div>