<div class="about_us" effect-script>

    <header-block></header-block>

    <div class="content">
        <div class="content-container background"></div>
        <div class="content-container about">
            <div>
                <p>Our initial thoughts were that products were a little on the expensive side but this
                    was soon forgotten once we had a view of what they were able to do for us.</p>
                <p>"Our new back office is very secure (we have had complaints from our sales force that they are unable
                    to enter details on clients’ behalf because of the new verification process) and this makes us very
                    happy to ensure that we stay on the correct side of compliance</p>
                <p>Kenmore Design have been able to develop security systems, integration of already in use suppliers as
                    well as customize the whole back office to give our customers an almost android user friendly learn
                    as you go feeling. The CRM has helped our management team to verify that every member of our team is
                    doing what they need to do as well as ensure that no customer is ever forgotten. As a result we have
                    been able to increase our client base while keeping our support team small. This in its self will
                    have our new back office paid for within 4 months.</p>
                <p>Support has been awesome, the whole team at have been very clear on updating us on status
                    changes as well as making sure that when developing new systems for us that there are no
                    misunderstandings or grey areas</p>
                <p>So all in all, are trustworthy, helpful beyond what they are being paid for and always
                    available to fix any issue in a very short time</p>


            </div>
        </div>
    </div>

    <top-button></top-button>

    <footer-block></footer-block>


</div>