<div class="homepage" effect-script id="index">

    <header-block></header-block>

    <mobile-menu></mobile-menu>

    <div class="content">
        <div class="content-container-main">
            <!--<video autoplay muted loop id="myVideo">-->
                <!--<source src="content/video/hc-test.mp4" type="video/mp4">-->
            <!--</video>-->

            <div class="content-container-main-background"></div>
            <div class="content-container-main-content">
                <div>
                    <div id="anchor"><h1 class="main-title lang" data-key-parent="main" data-key-child="title">We
                        transform relationships
                        <br> between brands and people.</h1>
                        <a href="#destination1" class="scroll"><i class="fas fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-container" id="destination1">
            <div class="content-container-background first-section">
                <div></div>
            </div>
            <article>
                <div class="content-container-block first">

                    <div><h1 class="main-title">Trader’s Room</h1>
                        <img src="content/img/first_section.png" alt="">
                        <p>Trader's Room is a fully automated web solution that integrates with your MT4 and provides
                            all the tools traders need: the ability to open and manage multiple trading accounts and
                            make instant deposits, transfers, and withdrawal requests. IB Tools include marketing
                            materials, commission reports, and hundreds of other features.</p>
                        <a ui-sref="trader_room" class="main-link">Detail</a></div>
                </div>
            </article>
        </div>

        <div class="content-container">
            <div class="content-container-background second-section">
                <div></div>
            </div>
            <article>
                <div class="content-container-block second" href="#">
                    <div><h1 class="main-title">CRM System</h1>
                        <img src="content/img/second_section.png" alt="">
                        <p>Never lose any leads and keep track of all activity in one place. Trader’s Room has a
                            built-in CRM and Task Manager. Trader activity such as deposits or withdrawals is recorded
                            in the CRM. When scaling your operations, the CRM will enable you to keep you costs down
                            while you expand your business.</p>
                        <a ui-sref="crm_system" class="main-link">Detail</a>
                    </div>
                </div>
            </article>
        </div>

        <div class="content-container">
            <div class="content-container-background third-section">
                <div></div>
            </div>
            <article>
                <div class="content-container-block third">
                    <div><h1 class="main-title">Multi Level IBs</h1>
                        <img src="content/img/third_section.png" alt="">
                        <p>Increase your brokerage’s growth and potential by using Trader’s Room multi-tier
                            functionality to expand your IB business (IBs within IBs).</p>
                        <a ui-sref="multi_ibs" class="main-link">Detail</a>
                    </div>
                </div>
            </article>
        </div>

        <div class="content-container">
            <div class="content-container-background fourth-section">
                <div></div>
            </div>
            <article>
                <div class="content-container-block ">
                    <div><h1 class="main-title">PAMM Support</h1>
                        <img src="content/img/fourth_section.png" alt="">
                        <p>MAM/PAMM support for your website enables your brokerage to automate and boost your MAM/PAMM
                            business model by providing essential online tools.</p>
                        <a ui-sref="pamm_support" class="main-link">Detail</a></div>
                </div>

            </article>
        </div>

        <div class="content-container">
            <div class="content-container-background fifth-section">
                <div></div>
            </div>
            <article>
                <div class="content-container-block ">
                    <div><h1 class="main-title">Mobile Solutions</h1>
                        <img src="content/img/fifth_section.png" alt="">
                        <p>Deploy your own Brokerage mobile app on the Apple App Store and Google Play. </p>
                        <a ui-sref="mobile_solutions" class="main-link">Detail</a></div>
                </div>

            </article>
        </div>

        <div class="content-container">
            <div class="content-container-background sixth-section">
                <div></div>
            </div>
            <article>
                <div class="content-container-block">
                    <div><h1 class="main-title">Merchant Accounts</h1>
                        <img src="content/img/sixth_section.png" alt="">
                        <p>Easy approval process and some of the lowest percentage rates for the forex market. Seamless
                            integration with the Trader’s Room provides automated account funding for deposits and
                            withdrawals.</p>
                        <a ui-sref="merchant_accounts" class="main-link">Detail</a></div>
                </div>

            </article>
        </div>

        <div class="content-container">
            <div class="content-container-background seventh-section">
                <div></div>
            </div>
            <article>
                <div class="content-container-block">
                    <div><h1 class="main-title">MT4 for MAC</h1>
                        <img src="content/img/seventh_section.png" alt="">
                        <p>Allow your traders to trade on the operating system of their choice: Mac OS
                            X or Linux. Get a Manager and Admin application for yourself. No virtual
                            machines, no reboots, just a native MT4 (whitelabeled with your graphics)
                            for all popular OS.</p>
                        <a ui-sref="mt4_mac" class="main-link">Detail</a></div>
                </div>

            </article>
        </div>

        <div class="content-container">
            <div class="content-container-background eighth-section">
                <div></div>
            </div>
            <article>
                <div class="content-container-block">
                    <div><h1 class="main-title">Forex Web Design</h1>
                        <img src="content/img/eleventh-section.png" alt="">
                        <p>MT4 Cloud is a web-based solution for trading and performing other MT4 Trader functions using
                            just the web browser. Traders and IBs are able to simply click the MT4 account number in the
                            Trader's Room sidebar and the Metatrader is already running.</p>
                        <a ui-sref="forex_web" class="main-link">Detail</a></div>
                </div>

            </article>
        </div>

        <div class="content-container">
            <div class="content-container-background ninth-section">
                <div></div>
            </div>
            <article>
                <div class="content-container-block">
                    <div><h1 class="main-title">BitCoin Deposits</h1>
                        <img src="content/img/ninth-section.png" alt="">
                        <p>Use of BitCoin becomes wider and wider as Merchant fees rise and Banking becomes more
                            challenging. BitCoin is one of the most recognized digital currencies and our integration of
                            it in Trader’s Room can be used for both deposits and withdrawals.</p>
                        <a ui-sref="bitcoin" class="main-link">Detail</a></div>
                </div>

            </article>
        </div>

        <div class="content-container">
            <div class="content-container-background tenth-section">
                <div></div>
            </div>
            <article>
                <div class="content-container-block">
                    <div><h1 class="main-title">Live Webinars</h1>
                        <img src="content/img/tenth-section.png" alt="">
                        <p>Webinars are online classrooms. A Presenter can share his computer screen, voice, and
                            documents with one or more Attendees. These online classrooms enable Brokers & IBs to
                            educate their traders with a click of a button saving time for everyone involved.</p>
                        <a ui-sref="live_webinars" class="main-link">Detail</a></div>
                </div>

            </article>
        </div>

        <div class="content-container">
            <div class="content-container-background eleventh-section">
                <div></div>
            </div>
            <article>
                <div class="content-container-block" id="last_section">
                    <div><h1 class="main-title">Other Solutions</h1>
                        <img src="content/img/eighth-section.png" alt="">
                        <p>Webinars are online classrooms. A Presenter can share his computer screen, voice, and
                            documents with one or more Attendees. These online classrooms enable Brokers & IBs to
                            educate their traders with a click of a button saving time for everyone involved.</p>
                        <a ui-sref="other_solutions" class="main-link">Detail</a></div>
                </div>

            </article>
        </div>


    </div>

    <top-button></top-button>

    <footer-block></footer-block>


</div>