<div class="mt4_mac" effect-script>

    <header-block></header-block>

    <div class="content">
        <div class="content-container background"></div>
        <div class="content-container about">
            <div>
                <h2>MT4 for Mac and Linux</h2>
                <p>The increasing popularity of Mac OS X has increased demand for MT4 for Macs. Metaquotes does not
                    provide native for Mac Trader, Manager, or Admin applications, so most Mac users are stuck using a
                    webtrader, having to reboot into Windows, or using a virtual machine, all inconvenient options for
                    Mac users accustomed to oversimplified workflows.</p>
                <p>Kenmore Design has developed a way to run native MT4 Trader, Manager, and Admin applications on Mac
                    OS X and Linux without expensive virtual machines, confusing webtraders, or annoying reboots</p>
                <p>Mac and Linux MT4 comes whitelabeled with your name and logo just like the Metaquotes version for PC,
                    and the installation procedure is simple, exactly like millions of other native applications for Mac
                    and Linux. Optimized MT4 applications receive the updates that are pushed by Metaquotes and look and
                    work exactly like the native Windows version.</p>
                <p>MT4 Application core is not modified during porting and therefore it abides by MetaQuotes rules and
                    terms.</p>
            </div>
        </div>
    </div>

    <top-button></top-button>

    <footer-block></footer-block>


</div>