<div class="crm_system" effect-script>

    <header-block></header-block>

    <div class="content">
        <div class="content-container background"></div>
        <div class="content-container about">
            <div>
                <div>
                    <h2>Forex CRM</h2>
                    <p>Trader’s Room includes a CRM (Customer Relationship Management System) that allows forex brokers
                        to receive leads to sales and support agents to attend to their needs. Once signed up, traders,
                        IBs, and other types of users interact with brokerage agents: attending to withdrawal requests
                        and technical issues. Our custom logic keeps track of all lead or account history from inside
                        the Trader’s Room and notifies agents in case any action needs to be taken on a certain
                        task.</p>
                </div>


            </div>
        </div>
    </div>

    <top-button></top-button>

    <footer-block></footer-block>


</div>